@import url("quiz.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,0");
@import url("https://fonts.googleapis.com/css2?family=Gotu&display=swap");

:root {
  --cor-background: #ede9e9;
  --cor-header: #ffffffad;
  --cor-box-background: #ffffffad;
  --cor-fundo-elementos: #bcbcbca9;
  --cor-texto: #000000;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background-color: var(--cor-background);
}

header {
  border-radius: 16px;
  margin: 5px;
  display: flex;
  align-items: center;
  background-color: var(--cor-header);
  justify-content: space-between;
  height: 70px;
  z-index: 5;
  backdrop-filter: blur(6px);
  box-shadow: 0px 6px 8px 0px #00000015;
  position: fixed;
  top: 0;
  width: calc(100% - 10px);
}

header .title {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.partesHeader {
  height: 100%;
  display: flex;
  align-items: center;
}

header .title {
  user-select: none;
  font-size: 27px;
}

header .buttonHeader {
  text-decoration: none;
  position: relative;
  background-color: #00000000;
  color: #000;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 20px;
}

header .buttonHeader::after {
  transform: translateX(-50%) translateY(5px);
  content: "";
  position: absolute;
  background-color: #326f34;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 50%;
  transition: width 0.3s ease-out;
}

.buttonMenu {
  cursor: pointer;
  display: none;
  background-color: #00000000;
  font-size: 26px;
  border: none;
  color: #000;
}

.menuHeader {
  z-index: 2;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-10px);
  backdrop-filter: blur(6px);
  padding: 10px;
  padding-bottom: 0px;
  border-radius: 12px;
  position: fixed;
  right: 5px;
  top: 80px;
  background-color: var(--cor-box-background);
  width: 150px;
  height: auto;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.menuHeader.show {
  pointer-events: all;
  opacity: 1;
  transform: translateY(0px);
}

.menuConteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuConteudo a {
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 10px;
  background-color: #c5c5c565;
  width: calc(100% - 20px);
  text-decoration: none;
  color: #000;
}

.partesHeader .buttonHeader:hover::after {
  width: 100%;
}

.headerDireita {
  margin-right: 30px;
}

.logo {
  margin-left: 5px;
  margin-right: 5px;
  height: calc(100% - 10px);
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #bbbbbb;
  border-radius: 12px;
  border-width: 5px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a6a9aa;
}

::-webkit-scrollbar-thumb:active {
  background-color: #8c8c8c;
}

.butonStyle {
  z-index: 2;
}
.close {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.234);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  background-color: #d24747;
  color: white;
  width: 28px;
  height: 28px;
  border: 0;
  border-radius: 8px;
  transition: background-color 0.2s ease, transform 0.2s ease-in-out;
}

.modal .close {
  top: -45px;
  right: 5px;
}

.close.hide {
  display: none;
}

.close.close::before {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.151);
  right: -5px;
  font-size: 0px;
  text-overflow: hidden;
  color: #000;
  padding: 10px;
  border-radius: 8px;
  z-index: -1;
  display: flex;
  align-items: center;
  height: 20px;
  background-color: #ffffffc0;
  position: absolute;
  content: "";
  opacity: 0;
  width: 0;
  transition: opacity 0.2s, width 0.2s ease-out, font-size, 0.4s;
}

.modal .close::before {
  content: "Fechar Modal";
}

.chatbot .close::before {
  content: "Fechar ChatBot";
}

.chatbot .close {
  right: 0px;
  top: -40px;
}

.close:hover.close::before {
  font-size: 13px;
  opacity: 1;
  width: calc(100% + 90px);
}

.close:hover {
  background-color: #b34040;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #00000053;
  z-index: 1000;
  position: fixed;
  backdrop-filter: blur(6px);
}

.conteudoModal {
  margin: 10px;
  padding: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  width: 90vw;
  max-width: 1300px;
  height: auto;
  background-color: #ffffffc0;
  border-radius: 14px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.234);
}

.conteudoModal .text {
  line-height: 30px;
  text-align: justify;
  padding: 25px;
  font-size: 1.1em;
  overflow-y: auto;
  border-radius: 14px;
  width: calc(100% - 100px);
  height: auto;
  background-color: #94949470;
}

.modal #title {
  width: 100%;
  height: 50px;
  font-size: 1.9em;
  text-align: center;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.blurSwitch {
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  outline: none;
  position: fixed;
  bottom: 80px;
  right: 25px;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: #629151;
  backdrop-filter: blur(6px);
  z-index: 10;
  transition: box-shadow 0.3s ease, transform 0.2s ease-in-out;
}

.blurSwitch:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.234);
}
.blurSwitch:active {
  transform: scale(0.9);
}

.voltarTopo {
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  outline: none;
  position: fixed;
  bottom: 135px;
  right: 25px;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: #629151;
  backdrop-filter: blur(6px);
  z-index: 10;
  transition: box-shadow 0.3s ease, transform 0.2s ease-in-out;
}

.voltarTopo:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.234);
}
.voltarTopo:active {
  transform: scale(0.9);
}

.btChatbot {
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  outline: none;
  position: fixed;
  bottom: 25px;
  right: 25px;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: #629151;
  backdrop-filter: blur(6px);
  z-index: 10;
  transition: box-shadow 0.3s ease, transform 0.2s ease-in-out;
}

.btChatbot:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.234);
}
.btChatbot:active {
  transform: scale(0.9);
}

.chatbot {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 11;
  position: fixed;
  background-color: var(--cor-box-background);
  border-radius: 14px;
  backdrop-filter: blur(6px);
  height: 400px;
  width: 340px;
  bottom: 90px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.234);
  right: 25px;
  transform: translateX(0);
  transition: transform 0.3s ease, width 0.35s ease-in-out,
    height 0.35s ease-in-out;
  padding-top: 40px;
}

.chatbot.hide {
  transform: translateX(calc(100% + 40px));
}

.chatbot .inputMensagem {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 55px;
  border-radius: 0px 0px 14px 14px;
  background-color: #7b7b7b47;
}

.chatbot .inputMensagem #inputText {
  padding-left: 15px;
  border-radius: 30px;
  height: 30px;
  background-color: #ffffff;
  border: none;
  outline: none;
  width: 180px;
  transition: width 0.35s ease-in-out;
}

.chatbot.expandido .inputMensagem #inputText {
  width: 550px;
  max-width: calc(100% - 140px);
}

.chatbot .inputMensagem .enviarMensagem {
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6ea55a;
  margin-left: 10px;
  border: none;
  outline: none;
  height: 32px;
  width: 32px;
  border-radius: 30px;
  transition: background-color 0.2s, transform 0.07s ease-in-out;
}

.chatbot .inputMensagem .enviarMensagem:hover {
  background-color: #629151;
}

.chatbot .inputMensagem .enviarMensagem:active {
  transform: scale(0.9);
}

.chatbot .caixaMensagensChatbot {
  width: calc(100% - 20px);
  height: calc(100% - 75px);
  border-radius: 14px;
  margin-top: 10px;
  background-color: #7b7b7b47;
}

.chatbot.expandido {
  width: 70vw;
  height: 70vh;
}

.topoChat {
  margin-top: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  height: 40px;
  position: absolute;
  justify-content: space-between;
  top: 0;
}

.topoChat h2 {
  user-select: none;
  position: absolute;
  width: 100%;
  text-align: center;
}

.topoChat .expandirChat {
  cursor: pointer;
  z-index: 1;
  height: 25px;
  width: 25px;
  border-radius: 5px;
  background-color: #00000000;
  border: none;
  margin-left: 10px;
  transition: background-color 0.2s ease;
}

.topoChat .expandirChat:hover {
  background-color: #cccccc70;
}

.caixaMensagensChatbot {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 8px;
}

.caixaMensagensChatbot::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.caixaMensagensChatbot::-webkit-scrollbar-track {
  background: #ffffff00;
  border-radius: 10px;
}

.message {
  margin: 10px;
  position: relative;
  max-width: 210px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 13px;
  color: #333;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
  transition: max-width 0.35s ease-in-out;
}

.chatbot.expandido .message {
  max-width: calc(100% - 110px);
}

.message.sender {
  border-radius: 14px 4px 14px 14px;
  background: #d1e7dd;
  align-self: flex-end;
}

.message.receiver {
  border-radius: 4px 14px 14px 14px;
  background: #f1f0f0;
  align-self: flex-start;
}

footer {
  margin-top: 50px;
  background-color: #f8f9fa;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

footer .blocoFooter {
  font-size: 14px;
  padding: 15px;
  text-align: justify;
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer .blocoFooter p {
  margin: 0;
  color: #333;
}

footer .blocoFooter span {
  margin: 10px 0;
}

footer .itemFooter {
  margin-bottom: 10px;
}

footer a {
  color: #4f9734;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer i {
  margin-right: 8px;
  color: #555;
}

footer .redesSociais {
  display: flex;
  flex-direction: column;
}

@media (min-width: 920px) {
  .conteudoModal .text {
    padding: 20px;
    width: calc(100% - 70px);
  }

  .menuHeader {
    display: none !important;
  }
}

@media (max-width: 920px) {
  .chatbot.expandido {
    width: calc(100vw - 60px);
    height: 70vh;
  }

  .partesHeader .title {
    font-size: 1.4em;
  }

  .modal #title {
    width: 100%;
    height: 50px;
    font-size: 1.5em;
    text-align: center;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .buttonMenu {
    display: block;
  }

  .buttonHeader {
    display: none;
  }

  .conteudoModal .text {
    font-size: 1em;
  }
  .conteudoModal {
    border-radius: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .modal .close {
    top: 20px;
    right: 20px;
  }
}
