main {
    display: grid;
    grid-template: auto auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 50px;
}

header {
    grid-column: 1 / 6;
}

footer {
    grid-column: 1 / 6;
}

.largeBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 7;
    /* background-color: blue; */
}

.largeBlock img {
    height: ;
    width: 100%;
    box-shadow: 25px 20px 0px rgba(148, 148, 148, 0.234);
}

.containerBlocks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: brown; */
    grid-column: 1 / 6;
}

.containerBlocks .block {
    background-color: var(--cor-box-background);
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.234);
}

.containerBlocks .block .titulo {
    width: 100%;
}

.containerBlocks .block img {
    border-radius: 10px;
    margin-left: 15px;
    object-fit: cover;
    aspect-ratio: 4 / 4;
    width: calc(100% - 40px);
}

.blocoComFloat {
    position: relative;
    display: flex;
    grid-column: 1 / 4;
}

.blocoComFloat img {
    width: 100%;
}