.quiz {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.caixa-pergunta {
  background-color: #56983f;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 15px;
  min-width: 35vw;
  max-width: 500px;
  color: white;
  margin: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.pergunta {
  text-align: center;
}

legend {
  font-size: 36px;
  font-weight: bold;
}

.respostas {
  flex-wrap: wrap;
  border: 0;
  background-color: #c6d798;
  display: flex;
  text-align: center;
  align-content: center;
  min-width: 35vw;
  max-width: 500px;
  height: auto;
  margin: 15px;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 17px;
  transition: box-shadow 0.3s, backgrond-color 0.3s, filter 0.3s;
}

.respostas:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.325);
  filter: brightness(95%);
}

.conjuntoRespostas {
  display: flex;
  justify-content: center;
  align-content: center;
}

#question {
  text-align: center;
}

#introducao {
  text-align: center;
}

#pontuacaoFinal{
  display: none;
}

/*inicio pontuaçao*/
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--cor-box-background);
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.234);
  margin-bottom: 80px;
}

#tituloPontuacao {
  text-align: center;
}
.bioma {
  display: flex;
  align-items: center;
  padding: 10px;
  flex: 1;
}

.bioma.centro {
  border-bottom: 1px solid #969696;
}
.bioma img {
  width: 150px;
  height: 90px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 8px;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.234);
}
.bioma-details {
  flex: 1;
}
.bioma-details h2 {
  margin: 0;
  font-size: 1.1em;
}
.bioma-details p {
  margin: 5px 0;
}
#tituloPontuacao {
    font-size: 1.7em;
}

@media (max-width: 480px) {
  body {
      margin: 10px;
  }
  #tituloPontuacao {
      font-size: 1.6em;
  }
  .bioma-details h2 {
      font-size: 1em;
  }
  .bioma-details p {
      font-size: 0.8em;
  }
}
/*fim pontuação*/


@media (max-width: 920px) {
  .container {
    width: 100vw;
    min-height: 100vh;
    border-radius: 0;
    margin-bottom: 0;
  }
  .conjuntoRespostas, .pergunta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  }
  
.bioma {
  display: flex;
  align-items: center;  
  padding: 10px;
  flex: 1;
}
  .cima {
    margin-top: 10px;
  }

  .respostas {
    margin: 10px 15px;
  }

  .respostas, .caixa-pergunta {
    width: 80vw;
    text-wrap: wrap;
    margin: 10px;
  }
}
