body {
  overflow: hidden;
}

.map {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  top: 0;
}

.sudeste {
  fill: #ffb731;
}

.nordeste {
  fill: #f85c47;
}

.centroOeste {
  fill: #cfcd40;
}

.norte {
  fill: #36a550;
}

.sul {
  fill: #58a4d3;
}

.pantanal {
  fill: #ffb731;
}

.cerrado {
  fill: #f85c47;
}

.pampa {
  fill: #cfcd40;
}

.mataAtlantica {
  fill: #5da536;
}

.caatinga {
  fill: #58a4d3;
}

.amazonia {
  fill: #36a550;
}

#svg-map {
  width: 100vw;
  height: 100vh;
}

.mapaBrasil {
  max-width: 800px;
}

.bioma {
}

#svg-map path {
  transition: filter 0.25s ease;
}

#svg-map .text {
  fill: #fff;
  cursor: pointer;
  pointer-events: none;
}

#svg-map text {
  text-shadow: 0 0 2px #0000008d;
  fill: #fff;
  font: 12px "Inter";
  font-weight: 600;
  cursor: pointer;
  pointer-events: none;
}

#svg-map .bioma,
#svg-map .estado {
  text-decoration: none;
  transition: filter 0.35s ease-in-out;
}

#svg-map .bioma:hover,
#svg-map .estado:hover {
  cursor: pointer;
  text-decoration: none;
  filter: brightness(80%);
}

#svg-map .circle {
  pointer-events: none;
  fill: #0000004a;
}

#map2 {
  display: none;
}

.mapaSwitcher {
  display: flex;
  align-items: center;
  position: fixed;
  background-color: var(--cor-box-background);
  border-radius: 25px;
  width: 70px;
  height: 25px;
  padding: 5px;
  top: 90px;
  left: calc(50% - 40px);
  z-index: 1;
  backdrop-filter: blur(15px);
  border-color: #cdcdcd91;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.213);
}

.pillSwitcher {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #188013;
  color: white;
  width: 25px;
  font-size: 14px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.15s ease-out, background-color 0.15s ease,
    right 0.3s ease-in-out;
}

.pillSwitcher:hover {
  background-color: #449f40;
  transform: scale(1.1);
}

.pillSwitcher:active {
  transform: scale(0.85);
}

.pillSwitcher.active {
  transform: translateX(45px);
}

.pillSwitcher.active:hover {
  transform: translateX(45px) scale(1.1);
}

.pillSwitcher.active:active {
  transform: translateX(45px) scale(0.85);
}

.btZoomContainer {
  width: 100%;
  height: 40px;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.zoomButton {
  backdrop-filter: blur(5px);
  cursor: pointer;
  color: var(--cor-texto);
  font-size: 18px;
  left: calc(50% - 20px);
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: var(--cor-fundo-elementos);
  transition: transform 0.07s ease-in-out, filter 0.2s;
}

.zoomButton:active {
  transform: scale(0.9);
}

.zoomButton:hover {
  filter: brightness(80%);
}

.informacoesBase {
  background-color: var(--cor-box-background);
  width: 360px;
  position: fixed;
  top: 90px;
  left: 15px;
  height: 195px;
  border-radius: 12px;
  backdrop-filter: blur(15px);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.234);
}

.conteudoInformacoesBase {
  position: relative;
  text-align: justify;
  padding-left: 15px;
  padding-right: 15px;
  overflow-y: auto;
  border-radius: 8px;
  background-color: #d7d7d770;
  margin: 10px;
  height: calc(100% - 20px);
  transition: height 0.2s ease-out;
}

.infoElemento {
  display: flex;
  align-items: center;
  position: relative;
  height: 35px;
  margin-top: 10px;
}

.infoElemento .iconeSumario {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  font-size: 14px;
  border-radius: 50%;
}

.infoElemento .icones {
  display: flex;
  align-items: center;
}

.infoElemento::after {
  position: absolute;
  bottom: -5px;
  left: 0;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #969696;
}

.sumarios {
  background-color: var(--cor-box-background);
  width: 300px;
  position: fixed;
  top: 90px;
  right: 15px;
  border-radius: 12px;
  backdrop-filter: blur(15px);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.234);
}

.topicos {
  overflow: hidden;
  background-color: var(--cor-box-background);
  width: 360px;
  position: fixed;
  bottom: 15px;
  left: 15px;
  border-radius: 12px;
  backdrop-filter: blur(15px);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.234);
}

.topico {
  position: relative;
}

.corpoTopico {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  cursor: pointer;
  height: 42px;
  transition: background-color 0.25s ease-out;
}

.corpoSumario {
  border-radius: 12px 12px 0px 0px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  cursor: pointer;
  height: 42px;
  transition: background-color 0.25s ease-out;
}

.corpoTopico:hover,
.corpoSumario:hover {
  background-color: #cfcece4f;
}

.corpoTopico::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #969696;
}

.topicoFinal::after {
  display: none;
}

.seta::after {
  font-family: "Font Awesome 6 Free";
  content: "\f077";
  font-size: 20px;
  margin-left: 12px;
}

.titleTopico {
  overflow: hidden;
  user-select: none;
  width: calc(100% - 52px);
  text-align: left;
}

.conteudoTopico,
.conteudoSumario {
  position: relative;
  text-align: justify;
  padding-left: 15px;
  padding-right: 15px;
  overflow-y: auto;
  border-radius: 8px;
  background-color: #d7d7d770;
  height: 0px;
  transition: height 0.2s ease-out;
}

.conteudoTopico::-webkit-scrollbar,
.conteudoSumario::-webkit-scrollbar,
.conteudoInformacoesBase::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.conteudoTopico::-webkit-scrollbar-track,
.conteudoSumario::-webkit-scrollbar-track,
.conteudoInformacoesBase::-webkit-scrollbar-track {
  background: #ffffff00;
  border-radius: 10px;
}

.expandirTopico {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  bottom: 5px;
  right: 20px;
  background-color: #4f9734;
  color: white;
  width: 28px;
  height: 28px;
  border: 0;
  border-radius: 8px;
  display: none;
  transition: background-color 0.2s ease, transform 0.07s ease-in-out;
}

.expandirTopico:hover {
  background-color: #42822b;
}

.expandirTopico:active {
  transform: scale(0.9);
}

.topico.active .expandirTopico {
  display: block;
}

.topico.active .conteudoTopico {
  padding: 15px;
  margin: 15px;
  height: 150px;
  transition: height 0.25s ease-in-out, margin-top 0.25s ease-in-out,
    margin-bottom 0.25s ease-in-out, padding-top 0.25s ease-in-out;
}

.sumario.active .conteudoSumario {
  padding: 15px;
  margin: 15px;
  height: 300px;
  transition: height 0.25s ease-in-out, margin-top 0.25s ease-in-out,
    margin-bottom 0.25s ease-in-out, padding-top 0.25s ease-in-out;
}

.topico.active .seta::after,
.sumario.active .seta::after {
  content: "\f078";
}

.titleSumario {
  position: relative;
  padding-left: 10px;
}

.titleSumario::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 4px;
  border-radius: 4px;
  background-color: #c7ca5b;
  left: 0;
  top: 0;
}

.sumarioElemento {
  position: relative;
  height: 35px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 10px;
}

.sumarioElemento::after {
  position: absolute;
  bottom: -5px;
  left: 0;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #969696;
}

.iconeSumario {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.biomaIcone {
  background-color: #90c77e;
}

.fonteEnergetica {
  background-color: #d9d76f;
}

.elementoFlutuante {
  display: none;
  position: relative;
  width: 360px;
  height: 230px;
  position: absolute;
  background-color: var(--cor-box-background);
  border-radius: 12px;
  backdrop-filter: blur(15px);
}

.elementoFlutuante.show {
  display: block;
}

.elementoFlutuante img {
  width: 100%;
  height: 70px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.elementoFlutuante .nomeEstado {
  margin-top: 0px;
  text-align: center;
  font-size: 17px;
  width: 100%;
}

.iconClima {
  margin: -12px !important;
  transform: translateX(-10px) translateY(-5px);
  margin-right: 20px;
  width: 30px !important;
  height: 30px !important;
}

.textoElementoFlutuante {
  display: inline;
  font-size: 14px;
}

.textoClima {
  display: inline-block;
  width: calc(100% - 50px);
  margin-left: 5px;
}

.informacoesBase .textoClima {
  display: inline-block;
  width: 190px;
  margin-left: 5px;
}

.clima {
  transform: translateX(22px);
}

.maisInformacoes {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4f9734;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: 0;
  font-size: 18px;
}

.blocos {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  height: 100px;
  width: calc(100% - 40px);
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #d7d7d770;
}

.bloco {
  position: relative;
  width: calc(50% - 3px);
}

.icon {
  color: #313131;
  margin-left: 5px;
  margin-right: 5px;
}

.bloco .tituloCategoria {
  display: inline;
  margin-left: 10px;
  font-size: 14px;
}

.barraVertical {
  border-radius: 5px;
  width: 5px;
  height: 100%;
  background-color: #87878770;
}

.bloco1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bloco .iconeSumario {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  font-size: 14px;
  border-radius: 50%;
}

.bloco .icones {
  transform: translateX(10px);
  margin-top: 2px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#caixaFlutuante {
  display: block;
}

#caixaFlutuante.hide {
  display: none;
}
.fecharCaixasFlutuantes.close {
  top: 90px;
  left: 390px;
}

.fecharCaixasFlutuantes.close.close::before {
  left: -5px;
  text-align: right;
  content: "     Fechar Blocos";
}

.fecharCaixasFlutuantes.close:hover.close::before {
  width: calc(100% + 95px);
}

@media (min-width: 920px) {
  #imgBarraLateral,
  #nomeEstadoBarraLateral,
  .fecharBarraLateral {
    display: none !important;
  }
}

.abrirBarraLateral,
#imgBarraLateral,
#nomeEstadoBarraLateral {
  display: none;
}

@media (max-width: 920px) {
  .nomeEstadoBarraLateral {
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6px;
    padding-bottom: 6px;
    width: calc(100% - 10px);
    border-radius: 6px 6px;
    background-color: var(--cor-box-background);
    margin-bottom: 6px;
    margin-top: 1px;
  }

  .elementoFlutuante,
  .fecharCaixasFlutuantes {
    display: none !important;
  }

  #imgBarraLateral {
    margin-bottom: 6px;
    border-radius: 12px 12px 6px 6px;
    object-fit: cover;
    width: calc(100% - 10px);
    height: 23vw;
    max-height: 160px;
  }
  .abrirBarraLateral {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.234);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    background-color: #4d9334;
    color: white;
    width: 32px;
    height: 32px;
    border: 0;
    top: 90px;
    left: 20px;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.2s ease, transform 0.2s ease-in-out;
  }

  .abrirBarraLateral.abrirBarraLateral::before {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.151);
    left: -5px;
    font-size: 0px;
    text-overflow: hidden;
    color: #000;
    padding: 10px;
    border-radius: 8px;
    z-index: -1;
    display: flex;
    align-items: center;
    height: 20px;
    background-color: #ffffffc0;
    position: absolute;
    content: "     Abrir barra lateral";
    opacity: 0;
    width: 0;
    transition: opacity 0.2s, width 0.2s ease-out, font-size, 0.4s;
  }

  .abrirBarraLateral:hover.abrirBarraLateral::before {
    font-size: 13px;
    opacity: 1;
    width: calc(100% + 110px);
  }

  .abrirBarraLateral:hover {
    background-color: #437a2f;
  }

  .fecharBarraLateral {
    display: flex;
  }

  .fecharBarraLateral.close.close::before {
    right: -5px;
    text-align: right;
    content: "Fechar barra lateral";
  }

  .fecharBarraLateral.close:hover.close::before {
    width: calc(100% + 120px);
  }

  .fecharCaixasFlutuantes {
    display: none;
  }

  .barraLateral.barraLateralFechada {
    transform: translateX(-100%);
  }

  .barraLateral,
  .conteudoTopico {
    box-sizing: border-box;
  }

  .barraLateral::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  .barraLateral::-webkit-scrollbar-track {
    background: #ffffff00;
    border-radius: 10px;
  }

  .sumarios {
    width: 100%;
  }

  .fecharBarraLateral {
    top: 20px;
    right: 20px;
  }

  .corpoSumario {
    height: 42px;
  }

  .barraLateral {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    padding-top: 70px;
    overflow: scroll;
    z-index: 100;
    height: 100vh;
    background-color: #bdbdbdc7;
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
    backdrop-filter: blur(15px);
    transition: transform 0.5s ease-in-out;
  }

  .informacoesBase {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-box-background);
    width: calc(100% - 10px);
    position: relative;
    top: unset;
    left: unset;
    height: auto;
    border-radius: 6px;
    backdrop-filter: blur(0px);
    box-shadow: unset;
    margin-bottom: 6px;
  }

  .conteudoInformacoesBase {
    position: relative;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    overflow-y: auto;
    border-radius: 8px;
    background-color: #d7d7d700;
    margin: 0;
    height: 240px;
    transition: height 0.2s ease-out;
  }

  .sumarios {
    overflow: unset;
    background-color: var(--cor-box-background);
    width: calc(100% - 10px);
    backdrop-filter: blur(0px);
    position: relative;
    top: unset;
    right: unset;
    border-radius: 6px 6px 6px 6px;
    box-shadow: unset;
    margin-bottom: 6px;
  }

  .topicos {
    overflow: unset;
    background-color: var(--cor-box-background);
    width: calc(100% - 10px);
    position: relative;
    bottom: unset;
    left: unset;
    border-radius: 6px 6px 12px 12px;
    backdrop-filter: blur(0px);
    box-shadow: unset;
  }
  .conteudoTopico,
  .conteudoSumario {
    overflow-y: scroll;
    border-radius: 0px;
    height: 0px;
  }

  .sumario.active .conteudoSumario {
    padding: 15px;
    margin: 0;
    height: auto;
    transition: height 0.25s ease-in-out, margin-top 0.25s ease-in-out,
      margin-bottom 0.25s ease-in-out, padding-top 0.25s ease-in-out;
  }

  .topico.active .conteudoTopico {
    padding: 15px;
    margin: 0;
    height: 300px;
    transition: height 0.25s ease-in-out, margin-top 0.25s ease-in-out,
      margin-bottom 0.25s ease-in-out, padding-top 0.25s ease-in-out;
  }
}
